body {
    font-family: Georgia, serif;
    margin: 5px;
    padding: 25px;
}

h1{
    font-size: 20px;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}

.even {
    background-color: rgba(0, 128, 0, 0.2);
}

.odd {
    background-color: rgba(165, 42, 42, 0.2);
}

.header-row {
    background-color: rgba(240, 255, 255, 0.5);
}
